<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Parallel Suite"    parallel="methods" thread-count="2"  >

    <parameter name="browserName" value="Chrome"/>
    <listeners>
        <listener class-name="Utilities.TestListener"> </listener>
        <listener class-name="Utilities.AnnotationTransformer"> </listener>
    </listeners>
    <test name="Regression Test">

        <classes>
            <class name="Tests.LoginTest"> </class>
<!--            <class name="Tests.HomePageTest"> </class>-->
<!--            <class name="Tests.YourCartPageTest"> </class>-->
<!--            <class name="Tests.CheckOutYourInfoPageTest"> </class>-->
<!--            <class name="Tests.CheckOutOverviewPageTest"> </class>-->
<!--            <class name="Tests.CheckOutCompletePageTest"> </class>-->
        </classes>
    </test>
</suite>